In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
%matplotlib inline

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data=pd.read_csv('data/Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X=data.iloc[:,3:13]
y=data.iloc[:,13]

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
X=pd.get_dummies(data=X)

In [8]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [9]:
X.shape

(10000, 13)

In [10]:
sc=StandardScaler()
X=sc.fit_transform(X)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [13]:
classifier=Sequential()

In [14]:
classifier.add(Dense(output_dim=13,init='uniform', activation='relu',input_dim=13))
classifier.add(Dense(output_dim=13,init='uniform', activation='relu'))
classifier.add(Dense(output_dim=1,init='uniform', activation='sigmoid'))

In [15]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [16]:
classifier.fit(X_train,y_train,batch_size=10,nb_epoch=50)

Epoch 1/50
8000/8000 [==============================] - 1s - loss: 0.4701 - acc: 0.7957
Epoch 2/50
8000/8000 [==============================] - 1s - loss: 0.4228 - acc: 0.8082
Epoch 3/50
8000/8000 [==============================] - 2s - loss: 0.4149 - acc: 0.8291
Epoch 4/50
8000/8000 [==============================] - 2s - loss: 0.4101 - acc: 0.8339
Epoch 5/50
8000/8000 [==============================] - 1s - loss: 0.4062 - acc: 0.8345
Epoch 6/50
8000/8000 [==============================] - 1s - loss: 0.4035 - acc: 0.8326
Epoch 7/50
8000/8000 [==============================] - 1s - loss: 0.4019 - acc: 0.8341
Epoch 8/50
8000/8000 [==============================] - 2s - loss: 0.4001 - acc: 0.8344
Epoch 9/50
8000/8000 [==============================] - 2s - loss: 0.3995 - acc: 0.8337
Epoch 10/50
8000/8000 [==============================] - 2s - loss: 0.3986 - acc: 0.8337
Epoch 11/50
8000/8000 [==============================] - 2s - loss: 0.3981 - acc: 0.8357
Epoch 12/50
8000/8000 [==============================] - 1s - loss: 0.3970 - acc: 0.8361
Epoch 13/50
8000/8000 [==============================] - 1s - loss: 0.3964 - acc: 0.8347
Epoch 14/50
8000/8000 [==============================] - 1s - loss: 0.3958 - acc: 0.8345
Epoch 15/50
8000/8000 [==============================] - 1s - loss: 0.3956 - acc: 0.8364
Epoch 16/50
8000/8000 [==============================] - 2s - loss: 0.3953 - acc: 0.8356
Epoch 17/50
8000/8000 [==============================] - 1s - loss: 0.3951 - acc: 0.8326
Epoch 18/50
8000/8000 [==============================] - 2s - loss: 0.3952 - acc: 0.8351
Epoch 19/50
8000/8000 [==============================] - 1s - loss: 0.3939 - acc: 0.8370
Epoch 20/50
8000/8000 [==============================] - 2s - loss: 0.3939 - acc: 0.8359
Epoch 21/50
8000/8000 [==============================] - 2s - loss: 0.3945 - acc: 0.8355
Epoch 22/50
8000/8000 [==============================] - 2s - loss: 0.3939 - acc: 0.8361
Epoch 23/50
8000/8000 [==============================] - 2s - loss: 0.3939 - acc: 0.8366
Epoch 24/50
8000/8000 [==============================] - 2s - loss: 0.3925 - acc: 0.8361
Epoch 25/50
8000/8000 [==============================] - 2s - loss: 0.3928 - acc: 0.8380
Epoch 26/50
8000/8000 [==============================] - 1s - loss: 0.3929 - acc: 0.8362
Epoch 27/50
8000/8000 [==============================] - 2s - loss: 0.3927 - acc: 0.8369
Epoch 28/50
8000/8000 [==============================] - 2s - loss: 0.3921 - acc: 0.8355
Epoch 29/50
8000/8000 [==============================] - 2s - loss: 0.3917 - acc: 0.8377
Epoch 30/50
8000/8000 [==============================] - 2s - loss: 0.3918 - acc: 0.8379
Epoch 31/50
8000/8000 [==============================] - 2s - loss: 0.3912 - acc: 0.8372
Epoch 32/50
8000/8000 [==============================] - 2s - loss: 0.3907 - acc: 0.8390
Epoch 33/50
8000/8000 [==============================] - 2s - loss: 0.3915 - acc: 0.8374
Epoch 34/50
8000/8000 [==============================] - 2s - loss: 0.3905 - acc: 0.8391
Epoch 35/50
8000/8000 [==============================] - 3s - loss: 0.3902 - acc: 0.8364
Epoch 36/50
8000/8000 [==============================] - 2s - loss: 0.3896 - acc: 0.8396
Epoch 37/50
8000/8000 [==============================] - 2s - loss: 0.3904 - acc: 0.8367
Epoch 38/50
8000/8000 [==============================] - 3s - loss: 0.3900 - acc: 0.8355
Epoch 39/50
8000/8000 [==============================] - 2s - loss: 0.3903 - acc: 0.8380
Epoch 40/50
8000/8000 [==============================] - 2s - loss: 0.3899 - acc: 0.8389
Epoch 41/50
8000/8000 [==============================] - 2s - loss: 0.3892 - acc: 0.8390
Epoch 42/50
8000/8000 [==============================] - 2s - loss: 0.3893 - acc: 0.8377
Epoch 43/50
8000/8000 [==============================] - 3s - loss: 0.3892 - acc: 0.8390
Epoch 44/50
8000/8000 [==============================] - 2s - loss: 0.3887 - acc: 0.8410
Epoch 45/50
8000/8000 [==============================] - 2s - loss: 0.3895 - acc: 0.8386
Epoch 46/50
8000/8000 [==============================] - 2s - loss: 0.3879 - acc: 0.8400
Epoch 47/50
8000/8000 [==============================] - 2s - loss: 0.3888 - acc: 0.8399
Epoch 48/50
8000/8000 [==============================] - 2s - loss: 0.3881 - acc: 0.8400
Epoch 49/50
8000/8000 [==============================] - 2s - loss: 0.3882 - acc: 0.8384
Epoch 50/50
8000/8000 [==============================] - 2s - loss: 0.3882 - acc: 0.8405

In [17]:
y_pred=classifier.predict(X_test,batch_size=10)
y_pred=(y_pred>0.5)

In [18]:
print('Accuracy Score - ',accuracy_score(y_test,y_pred))

Accuracy Score -  0.8465